.pageMain {
  overflow: visible;
}

.stickyNav {
  position: sticky;
  top: 130px;
  z-index: 45;
}
.approach-section__panel{
      width: 55vw;
}

@media (max-width: 767px) {
  .stickyNav {
    top: 70px;
  }
}
