NEXT_PUBLIC_SANITY_PROJECT_ID=uwffig4f
NEXT_PUBLIC_SANITY_DATASET=production
NEXT_PUBLIC_SITE_URL=https://new-sais-main.vercel.app
RESEND_API_KEY=re_your_api_key
FORM_FROM_EMAIL=SAIS Dubai <forms@your-verified-domain.com>
